@-webkit-keyframes scrollMain {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes scrollMain {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@-webkit-keyframes mainBorder {
  0% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes mainBorder {
  0% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes titleMain {
  0% {
    opacity: 0;
    -webkit-transform: translateX(400%);
            transform: translateX(400%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes titleMain {
  0% {
    opacity: 0;
    -webkit-transform: translateX(400%);
            transform: translateX(400%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes hoverLink {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 1;
  }
}

@keyframes hoverLink {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Saira Condensed', sans-serif;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

body {
  height: 100vh;
  color: white;
  background-color: #292929;
  font-size: 1.6rem;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1400px;
}

.main {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  background-image: url("../images/pizza-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.425);
}

.main__menu-icon {
  position: absolute;
  font-size: 3rem;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  color: white;
  padding: 2rem;
}

.main__border {
  z-index: 1;
  width: 70%;
  padding: 1rem 0;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border: 3px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-animation: mainBorder 1s;
          animation: mainBorder 1s;
}

.main__title {
  font-family: 'Hurricane', cursive;
  font-size: 3.5rem;
}

.main__subText {
  font-size: 2rem;
}

.main__phone {
  font-size: 2rem;
}

.fa-phone {
  margin-right: 1rem;
}

.scrollDown {
  position: absolute;
  height: 4rem;
  width: 4rem;
  background-color: rgba(0, 0, 0, 0.699);
  border-radius: 50%;
  bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.scrollDown__arrow {
  animation: scrollMain 1s ease-in-out infinite alternate-reverse;
}

.nav {
  position: fixed;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
  width: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 2;
  -webkit-transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 1s;
  transition: transform 0.5s, opacity 1s, -webkit-transform 0.5s;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-bottom: 5rem;
}

.nav__logo {
  height: 35%;
}

.nav a {
  text-decoration: none;
  color: #ec0404;
}

.deleteFixed {
  position: absolute;
}

.closeBtn {
  color: black;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
  padding: 2rem;
}

.activeMenu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media only screen and (min-width: 510px) {
  .closeBtn {
    font-size: 5rem;
  }
  .main__menu-icon {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .main {
    background-image: url("../images/pizza-big.jpg");
  }
  .main__menu-icon {
    display: none;
  }
  .main__border {
    width: 100%;
    border: 0;
    -webkit-animation: none;
            animation: none;
  }
  .main__title {
    font-size: 15rem;
    -webkit-animation: titleMain 3s ease;
            animation: titleMain 3s ease;
  }
  .main__subText {
    font-size: 5rem;
    opacity: 0;
    -webkit-animation: titleMain 3s 0.5s ease forwards;
            animation: titleMain 3s 0.5s ease forwards;
  }
  .main__phone {
    font-size: 3rem;
    opacity: 0;
    -webkit-animation: titleMain 3s 2s ease forwards;
            animation: titleMain 3s 2s ease forwards;
  }
  .main .scrollDown {
    display: none;
  }
  .nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-color: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 10rem;
    top: 0;
    background-color: white;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav__logo {
    height: 15rem;
  }
  .nav__links {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 80%;
    height: 10rem;
    margin: 0;
  }
  .nav a {
    position: relative;
  }
  .nav a:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background-color: red;
    -webkit-animation: hoverLink 0.5s forwards;
            animation: hoverLink 0.5s forwards;
  }
  .closeBtn {
    display: none;
  }
}

.menu__title {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  padding-top: 2rem;
}

.menu__subTitle {
  text-align: center;
  padding: 1rem 1rem;
}

.menu__box {
  padding-bottom: 3rem;
}

.menu__box__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.5rem 2rem;
  margin: 0 3rem;
  font-size: 2rem;
  background-color: red;
  margin-top: 2rem;
}

.menu__box__name {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.menu__box__ingredients {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: none;
  padding-top: 1rem;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.menu__box__minusBtn {
  display: none;
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  cursor: pointer;
}

.menu__box__plusBtn {
  cursor: pointer;
}

.active-ingredients {
  display: block;
  height: 4rem;
}

@media only screen and (min-width: 1024px) {
  .menu__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu__box__item {
    width: 40%;
  }
}

.reviews {
  width: 100%;
}

.reviews__titleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__titleBox h3 {
  font-size: 3rem;
}

.reviews__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border: 1px solid gold;
  margin: 2rem auto;
}

.reviews__profilPicture {
  padding: 1rem 2rem;
  width: 10rem;
  height: 8rem;
  border-radius: 50%;
}

.reviews__name {
  position: absolute;
  left: 12rem;
  top: 1rem;
  font-size: 2rem;
}

.reviews__stars {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 12rem;
  top: 5rem;
}

.reviews__text {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 1rem 2rem;
}

.reviews .fa-star {
  color: #ffd900;
}

.reviews__add {
  padding-bottom: 1rem;
}

.reviews__add__title {
  margin-top: 5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.reviews__add__box {
  position: relative;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid gold;
  padding: 2rem 3rem;
  margin: 1rem auto;
  gap: 0.5rem;
}

.reviews__username, .reviews__numberStars, .reviews__textarea, .reviews__linkToProfile {
  max-width: 100%;
  padding: 1rem 0.5rem;
  font-size: 1.6rem;
}

.reviews__sendBtn {
  margin: 0 auto;
  margin-top: 1rem;
  border: none;
  border-radius: 5px;
  padding: 1rem 3rem;
  margin-bottom: 3rem;
}

.reviews__error {
  position: absolute;
  display: block;
  color: red;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 1rem;
  font-size: 2rem;
}

@media only screen and (min-width: 1024px) {
  .reviews__place {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .reviews__box {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .reviews__add__box {
    width: 60%;
  }
}

.about {
  padding: 2rem;
}

.about__title {
  font-size: 3rem;
}

.about__title, .about__subText {
  text-align: center;
  padding: 1rem 0;
}

.about__slider {
  position: relative;
  max-width: 120rem;
  margin: auto;
}

.about__slide {
  position: relative;
}

.about__description {
  color: #f2f2f2;
  font-size: 1.5rem;
  padding: 0.8rem 1.2rem;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.about__numberSlide {
  color: #f2f2f2;
  font-size: 3rem;
  padding: 0.8rem 1.2rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about__dot {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 0.2rem;
  background-color: #414141;
  border-radius: 50%;
  display: inline-block;
}

.activeDot {
  background-color: #bbb;
}

.about__slide {
  display: none;
}

.about__slide img {
  border-radius: 10px;
  border: 2px solid red;
}

.about__img {
  width: 100%;
  height: 70%;
  display: block;
}

.about__dots-container {
  padding-top: 1.5rem;
  text-align: center;
}

.about__faq {
  width: 100%;
  padding: 1rem 0;
}

.about__box {
  margin: 2rem auto;
  width: 60%;
  max-width: 120rem;
}

.about__faqBtn {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 1rem;
  width: 100%;
  text-align: left;
  border-radius: 6px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
  z-index: 20;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 1rem;
  color: #fff;
  font-size: 2.5rem;
}

.about__faqBtn:hover, .about__faqBtn:focus {
  background-color: #636363;
  color: white;
  outline: none;
}

.about__infoText {
  margin-bottom: 0.5rem;
}

.about__pizzaIcon, .about__truckIcon, .about__utensilsIcon {
  margin: 0 1rem;
  width: 5%;
  color: gold;
}

.about__info {
  display: none;
  padding: 1rem 0.5rem;
}

.about__active {
  display: block;
}

@media only screen and (min-width: 1024px) {
  .about__faqBtn {
    font-size: 3rem;
  }
}

.contact {
  position: relative;
  width: 100%;
  height: 80rem;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact h3 {
  position: absolute;
  top: -3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 3rem;
}

.contact__map {
  width: 75%;
  height: 55%;
  margin: 0 auto;
}

.contact__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin: 0 auto;
}

.contact__title {
  margin-top: 4rem;
  font-size: 3rem;
}

.contact__details {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.contact__phone, .contact__mail, .contact__adress {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
}

.contact__phone i, .contact__mail i, .contact__adress i {
  width: 20%;
  font-size: 2.5rem;
}

.contact__phone p, .contact__mail p, .contact__adress p {
  width: 80%;
  font-size: 2.5rem;
}

.contact__phone::after, .contact__mail::after, .contact__adress::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: silver;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.contact__phone:hover::after, .contact__mail:hover::after, .contact__adress:hover::after {
  background-color: gold;
}

@media only screen and (min-width: 1024px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 60rem;
    padding: 1rem 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__map {
    height: 90%;
  }
  .contact__title {
    margin: 0;
  }
}

.footer {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.footer__line {
  background-color: gold;
  height: 2px;
  width: 100%;
}

.footer .fa-brands {
  font-size: 3rem;
}

.footer__first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.footer__second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.footer__second-section a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.footer__second-section a:hover {
  color: gold;
}

@media only screen and (min-width: 1024px) {
  .footer {
    border-top: 2px solid gold;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 5rem;
  }
  .footer__title {
    font-size: 3rem;
  }
  .footer__second-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1rem;
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */