// ANIMACJE:

@keyframes scrollMain {
   
    0%{
        transform: translateY(50%);
    }
   
    100% {
        transform: translateY(100%);
    }

}


@keyframes mainBorder {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes titleMain {
    0% {
        opacity: 0;
        transform: translateX(400%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes hoverLink {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    100% {
        transform: translateX(100%);
        opacity: 1;
    }
}

